<!DOCTYPE html>
<html>
<head>
  <title>You are diagnosed with ADHD</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ADHD.css') }}">
    
</head>
<body>
  <div class="container">
    <h1>You are diagnosed with ADHD</h1>
    <div class="content">
      <div class="background"></div>
      <div class="text">
        <h2>Definition</h2>
        <p>ADHD (Attention-Deficit/Hyperactivity Disorder) is a neurodevelopmental disorder characterized by persistent patterns of inattention, hyperactivity, and impulsivity that interfere with daily functioning and development.</p>

        <h2>Causes</h2>
        <ul>
          <li>Genetics: ADHD tends to run in families, suggesting a genetic component.</li>
          <li>Brain function and structure: Differences in brain anatomy and activity have been observed in individuals with ADHD.</li>
          <li>Environmental factors: Exposure to toxins, maternal smoking during pregnancy, premature birth, and low birth weight may contribute to the development of ADHD.</li>
        </ul>

        <h2>Symptoms</h2>
        <ul>
          <li>Inattention: Difficulty sustaining attention, easily distracted, forgetfulness, and difficulty organizing tasks.</li>
          <li>Hyperactivity: Restlessness, fidgeting, excessive talking, and difficulty staying seated.</li>
          <li>Impulsivity: Acting without thinking, interrupting others, and difficulty waiting for turns.</li>
        </ul>

        <h2>Treatment</h2>
        <ul>
          <li>Behavioral therapy: Behavioral interventions, such as psychoeducation, skill-building, and behavior modification techniques, can help manage ADHD symptoms and improve functioning.</li>
          <li>Medication: Stimulant medications, such as methylphenidate or amphetamines, are commonly prescribed to reduce symptoms of ADHD.</li>
          <li>Parenting and education support: Providing support and resources to parents and educators can help create a structured and supportive environment for individuals with ADHD.</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>