<!DOCTYPE html>
<html>
<head>
  <title>You are diagnosed with Anxiety</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/anxiety1.css') }}">
</head>
<body>
  <div class="container">
    <h1>You are diagnosed with Anxiety</h1>
    <div class="content">
      <div class="background"></div>
      <div class="text">
        <h2>Definition</h2>
        <p>Anxiety is a mental health disorder characterized by excessive and persistent worry, fear, and apprehension. It is often accompanied by physical symptoms such as restlessness, difficulty concentrating, and sleep disturbances.</p>

        <h2>Causes</h2>
        <ul>
          <li>Genetic factors: Anxiety disorders can run in families, suggesting a genetic predisposition.</li>
          <li>Environmental factors: Traumatic events, chronic stress, and major life transitions can contribute to the development of anxiety disorders.</li>
          <li>Brain chemistry: Imbalances in neurotransmitters, such as serotonin and gamma-aminobutyric acid (GABA), are believed to play a role in anxiety disorders.</li>
        </ul>

        <h2>Symptoms</h2>
        <ul>
          <li>Excessive worry: Persistent and intrusive thoughts or concerns.</li>
          <li>Physical symptoms: Restlessness, muscle tension, fatigue, rapid heartbeat, and shortness of breath.</li>
          <li>Difficulty concentrating: Feeling easily distracted or having a racing mind.</li>
          <li>Sleep disturbances: Trouble falling asleep, staying asleep, or having restless and unsatisfying sleep.</li>
        </ul>

        <h2>Treatment</h2>
        <ul>
          <li>Therapy: Cognitive-behavioral therapy (CBT) and other forms of psychotherapy can help individuals identify and change negative thought patterns and develop effective coping strategies for managing anxiety.</li>
          <li>Medication: Antidepressants and anti-anxiety medications may be prescribed to help reduce anxiety symptoms.</li>
          <li>Lifestyle changes: Regular exercise, stress management techniques (such as relaxation exercises and mindfulness), and healthy lifestyle habits can support overall well-being and reduce anxiety.</li>
          <li>Social support: Seeking support from friends, family, or support groups can provide emotional reassurance and understanding.</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>s