<!DOCTYPE html>
<html>
<head>
 <title>Psychiatric Disorders Prediction</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/application1.css') }}">
</head>
<body>
  <div>
 <form action="/output1" method="post" enctype="multipart/form-data">
  <h1>Psychiatric Disorders Prediction</h1>
 <p>It helps you to know if you suffer from any mental disorder </p>
  <label for="file">Choose a CSV file:</label>
  <input type="file" name="file" id="file"><br><br>
  <input type="submit" value="Predict">
  <img src="{{ url_for('static', filename='images/psychiatric.jpg') }}" width="500" height="600">

 </form>
</div>

</body>
</html>




