<!DOCTYPE html>
<html>
<head>
  <title>You are diagnosed with Schizophrenia</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Depression.css') }}">
</head>
<body>
  <div class="container">
    <h1>You are diagnosed with Depression</h1>
    <div class="content">
      <div class="background"></div>
      <div class="text">
        <h2>Definition</h2>
        <p>Depression is a mental disorder characterized by persistent sadness and loss of interest and pleasure in daily activities.</p>

        <h2>Causes</h2>
        <ul>
          <li>Brain chemistry: An imbalance of neurotransmitters, including serotonin and dopamine.</li>
          <li>Genetics: If you have a first-degree relative (biological parent or sibling) with depression.</li>
          <li>Medical conditions: Chronic pain and chronic conditions like diabetes can lead to depression.</li>
          <li>Stressful life events: Difficult experiences, such as the death of a loved one and lack of support, can trigger depression.</li>
        </ul>

        <h2>Symptoms</h2>
        <ul>
          <li>Feeling sad and depressed all the time</li>
          <li> Loss of interest and pleasure in activities you used to enjoy</li>
          <li>Changes in appetite and weight</li>
          <li>Difficulty concentrating and making decisions</li>
          <li>Thoughts of death or suicide</li>
        </ul>

        <h2>Treatment</h2>
        <ul>
          <li>Psychotherapy: Psychotherapy (talk therapy) involves talking with a mental health professional.</li>
          <li>Medication:Prescription medicine called antidepressants can help change the brain chemistry that causes depression.</li>
          <li>Brain stimulation therapy: Brain stimulation therapy can help people who have severe depression or depression with psychosis. Types of brain stimulation therapy include electroconvulsive therapy (ECT), transcranial magnetic stimulation (TMS), and vagus nerve stimulation (VNS).</li>
       </ul>
      </div>
    </div>
  </div>
</body>
</html>