<!DOCTYPE html>
<html>
<head>
  <title>You are diagnosed with Obsessive-Compulsive Disorder (OCD)</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/OCD1.css') }}">
</head>
<body>
  <div class="container">
    <h1>You are diagnosed with Obsessive-Compulsive Disorder (OCD)</h1>
    <div class="content">
      <div class="background"></div>
      <div class="text">
        <h2>Definition</h2>
        <p>Obsessive-Compulsive Disorder (OCD) is a mental health disorder characterized by recurring unwanted and intrusive thoughts (obsessions) and repetitive behaviors or mental acts (compulsions). These obsessions and compulsions cause significant distress and interfere with daily functioning and quality of life.</p>

        <h2>Causes</h2>
        <ul>
          <li>Genetics: OCD can run in families, suggesting a genetic component.</li>
          <li>Brain abnormalities: Differences in brain structure and functioning, as well as imbalances in certain neurotransmitters, such as serotonin, are believed to contribute to the development of OCD.</li>
          <li>Environmental factors: Certain life events, such as trauma, abuse, or infections, may trigger or worsen OCD symptoms.</li>
        </ul>

        <h2>Symptoms</h2>
        <ul>
          <li>Obsessions: Persistent and unwanted thoughts, images, or urges that cause anxiety or distress.</li>
          <li>Compulsions: Repetitive behaviors or mental acts that individuals feel driven to perform in response to their obsessions.</li>
          <li>Common obsessions: Contamination fears, fear of harm or causing harm, excessive need for symmetry or order, intrusive taboo thoughts, and excessive doubts.</li>
          <li>Common compulsions: Excessive handwashing or cleaning, checking behaviors, repeating rituals, mental rituals (e.g., counting or praying), and arranging or organizing objects in a specific way.</li>
        </ul>

        <h2>Treatment</h2>
        <ul>
          <li>Cognitive-Behavioral Therapy (CBT): Specifically, Exposure and Response Prevention (ERP) is a type of CBT commonly used to treat OCD. It involves gradually exposing individuals to their obsessions while preventing the accompanying compulsive behaviors, helping to reduce anxiety and break the cycle of obsessions and compulsions.</li>
          <li>Medication: Selective serotonin reuptake inhibitors (SSRIs), such as fluoxetine or sertraline, are often prescribed to help alleviate OCD symptoms.</li>
          <li>Psychosocial support: Supportive therapy, psychoeducation, and involving family members or support groups can provide emotional support and help individuals cope with OCD.</li>
          <li>Self-help strategies: Learning stress reduction techniques, practicing mindfulness and relaxation exercises, and engaging in regular physical exercise can complement treatment and promote overall well-being.</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>